# =================================================================
# IDEs e editores
# =================================================================
.vs/                    # Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates

.vscode/                # VS Code
.idea/                  # JetBrains

# =================================================================
# Build outputs .NET
# =================================================================
**/bin/
**/obj/
*.zip/

# =================================================================
# Publicação e empacotamento
# =================================================================
# pasta de publish do dotnet
src/Employees/publish/

# ZIP que criamos para o Lambda
src/Employees/function.zip

# artifact do Serverless
serverless-artifacts/
.serverless/

# =================================================================
# Node.js (se houver front-ends ou plugins)
# =================================================================
node_modules/

# =================================================================
# Configurações de ambiente
# =================================================================
.env
.env.*.local

# =================================================================
# Arquivos de OS
# =================================================================
.DS_Store
Thumbs.db

# =================================================================
# Logs e temporários
# =================================================================
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =================================================================
# Outros
# =================================================================
# Cache do NuGet (geralmente fora do repositório)
*.nupkg
*.snupkg

# pacotes de ferramentas global
tools/**

